<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>huehuehue</title>
    </head>
    <body style="text-align: center;">
            <h1>Laifu_coin</h1>
            <a href="#"></a>
            <div><a href="/login">Login</a></div>
            <div><a href="/register">Register</a></div>
            <div><a href="/register">Get started now</a></div>
    </body>
</html>
