<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>huehuehue</title>

  </head>

  <body>
    <div>

      <ul class="navbar-shit">
            
            {% if page=='dashboard' %}
            <li class="nav-bar-dashboard">
            {% else %}
            <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="dashboard"><span>Dashboard</span></a>
            </li>
            
            {% if page=='buy' %}
            <li class="nav-bar-buy">
            {% else %}
            <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="buy"><span>Buy</span></a>
            </li>
        
            {% if page=='transaction' %}
            <li class="nav-bar-transaction">
            {% else %}
            <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="transaction"><span>Transaction</span></a>
            </li>
        
      </ul>
      
      <div>
        <div>
          {% block body %}

          {% endblock %}
        </div>
      </div>
    </div>

        <div><h4>Ready to Leave {{session.get('name')}}?</h4></div> 
        <div>Select "Logout" below if you are ready to end your current session.</div>
        <div><a href="logout"><button type="button" data-dismiss="modal">Logout</button></a></div>
  </body>

</html>
