<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Laifu_coin - Login</title>

  </head>

  <body >

      <div><h1 style="text-align: center;">Login</h1></div>
        <div>
          {% include 'includes/_messages.html' %}
            
            <form action="" method="POST">
                <div>
                    <input type="text" id="inputUsername" name="username" placeholder="Username" required="required" autofocus="autofocus" value={{request.form.username}}>
                    <label for="inputUsername">Username</label>
                </div>
                <div>
                    <input type="password" id="inputPassword" name="password" placeholder="Password" required="required" autofocus="autofocus" value={{request.form.password}}>
                    <label for="inputPassword">Password</label>
                </div>
                <button type="submit">Login</button>
            </form>
        
        </div>

        <div><a href="register">Don't have an account? Register now.</a></div>
        <div><a href="/">Home Page</a></div>       
      
  </body>

</html>
